# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.opendb
*.db

build/microsoft/testdotth/Debug/
build/microsoft/libdotth/Debug/

# xcode
build/apple/libdotth/Output/libdotth.build/
build/apple/libdotth/Output/v5/
build/apple/libdotth/Output/XCBuildData/
build/apple/testdotth/Output
build/apple/dotth.xcworkspace/xcuserdata/jwkim.xcuserdatad/UserInterfaceState.xcuserstate
build/apple/dotth.xcworkspace/xcuserdata/jwkim.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
build/apple/libdotth/libdotth.xcodeproj/xcuserdata/jwkim.xcuserdatad/xcschemes/xcschememanagement.plist
build/apple/testdotth/testdotth.xcodeproj/xcuserdata/jwkim.xcuserdatad/xcschemes/xcschememanagement.plist
